services:
  web:
    container_name: hamclock-be
    image: __IMAGE__
    restart: unless-stopped
    networks:
      - hamclock-be
    ports:
      - :80:80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/ham/HamClock/version.pl"]
      timeout: "5s"
      start_period: "20s"
    logging:
      options:
        max-size: "10m"
        max-file: "2"

networks:
  hamclock-be:
    driver: bridge
    name: hamclock-be
    enable_ipv6: true
    ipam:
     driver: default
    driver_opts:
      com.docker.network.bridge.name: hamclock-be
