services:
  web:
    container_name: __CONTAINER__
    image: __IMAGE__
    restart: unless-stopped
    networks:
      - ohb
    ports:
      - __HTTP_PORT__:80
    volumes:
      - ohb-htdocs:/opt/hamclock-backend/htdocs
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/ham/HamClock/version.pl"]
      timeout: "5s"
      start_period: "20s"
    logging:
      options:
        max-size: "10m"
        max-file: "2"

networks:
  ohb:
    driver: bridge
    name: ohb
    enable_ipv6: true
    ipam:
     driver: default
    driver_opts:
      com.docker.network.bridge.name: ohb

volumes:
  ohb-htdocs:
    external: true
